@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face Declarations */
@font-face {
  font-family: 'Sporting Grotesque';
  src: url('./assets/fonts/SportingGrotesque-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sporting Grotesque';
  src: url('./assets/fonts/SportingGrotesque-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global Base Styles */
body {
  @apply bg-light dark:bg-dark text-dark dark:text-light font-primary;
}

/* Remove arrows from number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Optional Utility Classes */
.highlight-text {
  @apply bg-dark text-light px-3 rounded-lg;
}

.cover-clip {
  clip-path: polygon(50% 0%, 22% 100%, 72% 100%);
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(4px) contrast(10) hue-rotate(240deg);
  mix-blend-mode: darken;
}
.loader:before{
  content: "";
  grid-area: 1/1;
  margin: 30px 0;
  border-radius: 100px;
  background: #00ffff;
}
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 35px;
  width: 35px;
  margin: auto;
  border-radius: 50%;
  background: #00ffff;
  animation: l5 2s infinite linear;
}
@keyframes l5{
  0%   {transform: translate(30px)}
  25%  {transform: translate(0)}
  50%  {transform: translate(-30px)}
  75%  {transform: translate(0)}
  100% {transform: translate(30px)}
}